extends layout

block script
  script.
    document.addEventListener('DOMContentLoaded', ()=>{
      setTimeout( () => {
        alert('you are being directed to user-form url');
        location.href="user-form";
        }, 2500
      );
    });
block content
  h1(style='font-weight: 100;') Hello there! to get to the form click here #[a(href='user-form') user-form] or you will be directed to the form page in a moment
